* {
    box-sizing: border-box;
}

#openPage {
    background-image: linear-gradient(silver, gold);
    border: 5px solid;
    border-color: silver gold;
    border-radius: 5px;
    width: max-content;
    margin: 30%;
    padding: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#openPage h1 {
    text-shadow: 1px 1px 2px black, 0 0 25px darkgoldenrod, 0 0 5px blueviolet;
    font-size: xx-large;
}

#welcome a {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

a {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    text-align: center;
}

#homePage {
    display: none;
    border: 2px solid gold;
    border-radius: 12px;
    padding: 10px;
    margin: 30px;
    background-image: linear-gradient(gold, silver);
}

#homePage h2 {
    text-align: center;
}

#menuPage {
    display: none;
    border: 2px solid gold;
    border-bottom: 1px solid silver;
    border-radius: 0px 20px 0px 0px;
    padding: 0;
    margin: 0;
    height: 400px;
    width: 1000px;
    background-image: linear-gradient(gold, silver);
    overflow: auto;
    position: fixed;
}

#menuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: silver;
    height: 398px;
    position: fixed;
    overflow-x: auto;
}

li a {
    display: block;
    color: black;
    padding: 8px 5px;
    text-decoration: none;
    width: 133px;
}

li a:hover:not(.active) {
    background-color: grey;
    color: wheat;
    font-style: italic;
    width: 133px;
}

#addContactPage {
    display: none;
    margin-left: 150px;
    padding: 1px 16px;
    height: 1000px;
    position: fixed;
    overflow-x: auto;
}

.formProperties {
    margin: 2px;
    padding: 2px;
}

#viewContactPage {
    display: none;
    margin-left: 150px;
    padding: 1px 16px;
    height: 1000px;
    width: max-content;
    position: fixed;
}

#data {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    width: auto;
    overflow: scroll;
}

.data {
    width: 50px;
    padding: 1px;
    margin: 0.5px;
    overflow-y: hidden;
    border: 1px solid black;
    border-radius: 2px;
}

#updateContactPage {
    display: none;
    margin-left: 150px;
    padding: 1px 16px;
    height: 1000px;
    position: fixed;
}